<footer>
	<div class='padding'>
		<div id='con'>
			<div>
				<h2>Interested? Get started for free today.</h2><br>
				<p>Try a homework tutoring or any standard course, with a trial class.</p>
			</div>
			<div style='display: flex'>
				<a id='footer-enroll' href='/enroll'>Enroll Now</a>
			</div>
		</div>
		<div class='con-2'>
			<div id='info'>
				<h1>Vantage Tutoring</h1> <br>
				<p>For students, by students. A tutoring and teaching service connecting high schoolers with younger kids.</p>
				<p>© 2020 Vantage Tutoring, Inc.</p>
				<a>Terms and Policy</a>
			</div>
			<div id='grid'>
				<div>
					<h2>Links</h2>
					<a href='/'>Home</a>
					<a href='/about'>About</a>
					<a href='/blog'>Blog</a>
					<a href='/blog/whats-new/'>What's New</a>
					<a href='/login'>Login</a>
					<a>Sign Up</a>
				</div>
				<div>
					<h2>Program</h2>
					<a>Overview</a>
					<a>Classes</a>
					<a>Tutors</a>
					<a>Pricing</a>
					<a>Q&A</a>
				</div>
				<div>
					<h2>Company</h2>
					<a>Help & Support</a>
					<a>Jobs</a>
					<a>Volunteer</a>
					<a>Privacy Policy</a>
					<a>Terms & Agreement</a>
					<a>Twitter</a>
					<a>Email Us</a>
				</div>
			</div>
		</div>
	</div>

</footer>

<style>

.con-2 {
	display:flex;
	justify-content: space-between;
	margin-top:75px;
}

.con-2 p{
	opacity:0.7
}

footer p {
	margin:5px 0px;
	font-size:11.5pt;
}

footer #info {
	width:300px;
}
footer #info h1{
	font-size:20pt;
}

footer #grid {
	width:600px;
	display:flex;
}

footer #grid h2{
	margin-top:5px;
	font-size:16pt;
	margin-bottom:20px;
	margin-left:10px;
}

footer #grid div{
	display:flex;
	flex-direction:column;
}

footer #grid a{
	margin-right:20px;
	width:160px;
	padding:4px 10px;
	cursor:pointer;
	border-radius:3px;
	color:inherit;
	text-decoration: none;
	font-size:11.5pt;
}
footer #grid a:hover{
	background-color:rgba(255, 58, 9, 0.123);
}



#con {
	display:flex;
	justify-content: space-between;
	background-color:#ec6f5b;
	border-radius:10px;
	padding: 35px 40px;
	color:white;
	align-items: center;
}
footer {
	background-image:url('/assets/footer.png');
	background-size:cover;
	height:600px;
	margin-top:100px;
	scroll-snap-align: end;
}

#footer-enroll {
background-color:white;
  color:#ec6f5b;
  border:none;
  font-size: 11.5pt;
  padding: 13px 25px;
  border-radius: 5px;
  margin-top:40px;
  cursor:pointer;
  margin-top:10px;
  font-weight:600;
}
</style>