
<nav id='mainnav' class='active'>
	<div id='mainnav-holder'>
		<div class='flex' style='width:165px;'>
			<img src='/assets/general/logo.png' id='logo-img'>
			<a id='logo' href='/'><span class='black'>Vantage</span></a>
		</div>
		<div id='navlinks'>
			<a class='tab' href="/about">About</a>
			<a class='tab' href="/program">Program</a>
			<a class='tab' href="/team">Team</a>
			<a id='sign-up-btn' href='/contact'>Trial Class</a>
			<!--
			<div class='dropdown'>
				<a class='tab'>About Us</a>
				<div class='dropdown-con'>
					<a href='/#about'>Who We Are</a>
					<a href='/team'>Our Team</a>
				</div>
			</div>
			<div class='dropdown'>
				<a class='tab'>Our Program</a>
				<div class='dropdown-con'>
					<a href='/program'>Overview</a>
					<a href='/classes'>Classes</a>
					<a href='/tutors'>Tutors</a>
					<a href='/q+a'>Q&A</a>
				</div>
			</div>-->
		</div>
		<a id='mobile-btn' onclick='toggleMobileMenu()' data-open='false'><i id='mobileicon' class='fas fa-bars'></i></a>
	</div>
	<div id='mobile-menu'>
		<div id='flex'>
			<div>
				<p><b>About Us</b></p>
				<a href='/#about'>Who We Are</a>
				<a href='/team'>Our Team</a>
				<a href='/blog'>The Blog</a>
				<a href='/blog/whats-new'>What's New</a>
			</div>
			<div>
				<p><b>Program</b></p>
				<a href='/program'>Overview</a>
				<a href='/classes'>Classes</a>
				<a href='/tutors'>Tutors</a>
			</div>
			<div>
				<p><b>Other</b></p>
				<a href='/program'>Pricing</a>
				<a href='/classes'>Terms</a>
				<a href='/tutors'>Hiring</a>
			</div>
		</div>
		<button class='btn' onclick="window.location.href='/enroll'">Contact Us</button>
	</div>
</nav>

<script>
	function toggleMobileMenu() {
		if (!$('#mobile-btn').data('open')){
			$('#mobile-menu').css('display','flex');
			$('#mobileicon').removeClass('fa-bars').addClass('fa-times');
			$('#mobile-btn').data('open', true);
		} else {
			$('#mobile-menu').css('display','none');
			$('#mobileicon').removeClass('fa-times').addClass('fa-bars')
			$('#mobile-btn').data('open', false);
		}
	}
</script>