---
layout: page
permalink: /team
title: Our Team
description: Here are all of the amazing people that make Vantage happen! We are all high school or university students in Ontario who are dedicated to inspiring younger students.
---
<h2 style='margin-top:-40px;'>Executive Team</h2>
<p>Our directors and section leads that work in the backend to make this all happen. Feel free to reach out to any one of us to learn more about what we do! If you are interested in joining our exec team, click here!</p>

{% assign director = site.team | where_exp:"person", "person.group == 'director'"%}
{% assign vice = site.team | where_exp:"person", "person.group == 'vicedirector'"%}
{% assign exec = site.team | where_exp:"person", "person.group == 'exec'" | sort: "lastname" %}
{% assign leadership = director | concat: vice | concat: exec %}

<div class="exec-grid">
    {% for member in leadership %}
    <div class="grid-row" id="{{ member.slug }}">
        <div class="grid-col">
            <img class="profile-img" src="{{ site.baseurl }}/assets/tutorphotos/{{ member.img }}" alt="picture of {{ member.firstname }} {{ member.lastname }}"/>
        </div>
        <div class="grid-col">
            <div class="team-member-content">
                <h3 class="no-margin title">{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{ member.role }}</p>
                <p>{{ member.school }}</p>
                <p class='linkmore'><a class = "tla-link" href='{{ site.baseurl }}/team/{{ member.slug }}'><span class = "fas fa-arrow-circle-right"></span> More Info</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<h2>Tutoring Team</h2>
<p>Our team of tutors and instructors currently teach virtually to students on a variety of subjects, leading engaging and personlized sessions.</p>

{% assign members = site.team | where_exp:"item", "item.group == 'tutor'" | sort:"firstname" %}

<div class="team-member-grid">
    {% for member in members %}
    <div class="grid-row" id="{{ member.slug }}">
        <div class="grid-col">
            {% if member.img %}
                <img class="profile-img" src="{{ site.baseurl }}/assets/tutorphotos/{{ member.img }}" alt="picture of {{ member.firstname }} {{ member.lastname }}"/>
                {% else %}
                <img class="profile-img" src="{{site.baseurl}}/assets/tutorphotos/placeholder.png" alt="temporary picture for {{ member.firstname }} {{ member.lastname }}"/>
            {% endif %}
        </div>
        <div class="grid-col">
            <div class="team-member-content">
                <h3 class="no-margin title">{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{ member.school }}</p>
                <p class='linkmore'><a class = "tla-link" href='{{ site.baseurl }}/team/{{ member.slug }}'><span class = "fas fa-arrow-circle-right"></span> More Info</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<p><i class='fas fa-info-circle'></i> Note: some tutor profiles or new tutors are not displayed on the website in transition times between semesters.</p>





<h2>Previous Members</h2>
<ul>
    <li><b>Arya Mane</b> (2020): Social Media Lead</li>
    <li><b>Sabrina Xing</b> (2020): Management Lead</li>
    <li><b>Andrew Shi</b> (2020): Curriculum Planner</li>
</ul>

<style>

    #divider {
        display:none;
    }
    .flex-wrap{
        justify-content: left;
    }
    .flex-wrap div{
        width:200px;
        text-align:center;
        margin-top:40px;
    }
    .flex-wrap h1{
        font-size:14pt;
    }

    /************** GRIDS *********************/
    .grid-col{
        padding-right:30px;
        margin:auto 0px;
    }
    .grid-row{
        margin:30px 0px;
        display:flex;
        width:50%;
    }

    .team-member-content h3, .team-member-content p{
        margin:0px;
        margin:5px 0px;
    }

    /******************************************** EXECUTIVE GRID ********************************************/
    .exec-grid {
        display:flex;
        flex-wrap: wrap;
    }
    .exec-grid .profile-img{
        width:140px;
        height:140px;
        object-fit:cover;
        border-radius:10px;
        margin:0px auto;
    }



    /******************************************** TUTOR GRID ********************************************/
    .team-member-grid{
        display:flex;
        flex-wrap: wrap;
    }
    .team-member-grid .profile-img {
        width:140px;
        height:140px;
        object-fit:cover;
        border-radius:10px;
        margin:0px auto;
    }

    @media only screen and (max-width: 600px){
        .grid-row{
            margin:30px 0px;
            display:flex;
            /*flex-direction: column;*/
            width:100%;
        }
        .exec-grid .profile-img, .team-member-grid .profile-img{
            width:100px;
            height:100px;
        }
        .team-member-content h3{
            font-size:14pt;
        }
        .team-member-content p {
            font-size:11pt;
        }
        .tla-link{
            font-size:12pt;
        }

        /*
        .grid-col {
            width:100%;
            text-align:center;
        }
        .grid-col img, .grid-col h3, .grid-col p,  .grid-col a {
            margin:auto;
        }
        .grid-col h3{
            margin: 20px 0px;
        }
        .grid-col p{
            margin-bottom:10px;
        }
        .grid-col a{
            padding-top:40px;
        }*/
    }

</style>