
html{
  background-color: white;
}

body {
  margin:0px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#2c373f;
  font-size:13pt;
}

a {
  text-decoration:none;
  color:var(--main)
}

a:hover {
  text-decoration:underline;
}

h1 {
  font-size: 30pt;
  margin:0px;
}

h2 {
  margin:0px;
}

hr {
  border: 1.5px solid black;
  opacity: 0.1;
}


.flex {
  display:flex; 
  justify-content: space-between;
  width:100%;
}

.flex-wrap {
  display:flex; 
  flex-wrap:wrap;
  justify-content: space-between;
  width:100%;
}

.padding {
  margin:0px auto;
  max-width:1000px;
  width:1000px;
}



.black {
  color:#2c373f;
}
.light {
  color:#8b98a1;
}
.primary {
  color:#ec6f5b;
}

button {
  margin:0px auto;
  margin-bottom:20px;
  background-color:rgb(255, 238, 230);
  color:var(--main);
  border:none;
  font-size: 11.5pt;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top:40px;
  cursor:pointer;
  width:200px;
  outline:none;
  font-weight:bold;
  border:2px solid var(--main);
}

details {
  outline:none;
}

summary {
  outline:none;
  cursor:pointer; 
  padding:10px 15px;
  border-radius:5px;
}

details p{
  padding:10px 20px;
}

summary:hover {
  background-color:rgb(231, 231, 231);
}

