<!DOCTYPE html>
<html>
  {% include head.html %}
  <script src="https://kit.fontawesome.com/e8c8e8e543.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <body>
    <div class='cover'></div>
    {{content}}
  </body>
  {% include footer.html %}
    <script>
        window.addEventListener("load", () => {
          $('.cover').remove();
        });
    </script>
    <style>
      .cover{
        position:fixed;
        background-color:white;
        top:0px;left:0px;height:100%;width:100%;
      }
    </style>
</html>


