---
layout: default
---
  <html>
    {% include header.html %}
    <main>
        {{content}}
    </main>
  </html>
  <style>
  </style>



  <script>
    /*
    if ($(window).width() < 600) {
          $(window).scroll(function() {     
          var scroll = $(window).scrollTop();
          if (scroll > 0) {
              $("#mainnav").addClass("active");
              
          }
          else {
              $("#mainnav").removeClass("active");
          }
        });
    } else {
      $('#mainnav').removeClass('active');
      $(window).scroll(function() {     
        var scroll = $(window).scrollTop();
        if (scroll > 0) {
            $("#mainnav").addClass("active");
            $("#mainnav").addClass("active");
            $( "#title" ).css("opacity",0);
            $( "#logo" ).css("opacity",1);
        }
        else {
            $("#mainnav").removeClass("active");
            $( "#title" ).css("opacity",1);
            $( "#logo" ).css("opacity",0);
        }
      });
    }*/

        if ($(window).width() < 600) {
            $('<img>').attr({'src':'/assets/home/splash.png','id':'splash-gif'}).appendTo('#main-splash');
        }
 
  </script>
