---
layout: default
---

  {% include header.html %}
  <main>
    <div class='padding page-head'>


      {% if page.image %}
            <div class='flex'>
              <div>
                <h1>{{page.title}}</h1>
                <p>{{page.description}}</p> <br>
                {% if page.link %}
                  <a class='header-btn'  href='{{page.link[1]}}'>{{page.link[0]}}</a>
                {% endif %}
              </div>
              <img id='header-image' src='{{page.image}}'>
            </div>
      {% else %}
            <div>
              <h1>{{page.title}}</h1>
              <p>{{page.description}}</p> <br>
              {% if page.link %}
                <a class='header-btn' href='{{page.link[1]}}'>{{page.link[0]}}</a>
              {% endif %}
            </div>
      {% endif %}



      <hr>
      <br>
      <div id='mobile-con'>
        {{content}}
      </div>
    </div>

  </main>

  <script>
      $("#mainnav").addClass("active");
        $( "#title" ).css("opacity",0);
        $( "#logo" ).css("opacity",1);
  </script>

<style>
    img {
      object-fit: cover;
    }
    .page-head {
      margin-top:150px;
    }
    #header-image{
      margin-top:-135px;
    }
    .header-btn{
      background-color:var(--main);
      color:white;
      font-size: 13pt;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top:40px;
      cursor:pointer;
    }
    .header-btn:hover{

    }

@media only screen and (max-width: 600px) {
  main {
    width:100%;
  }
 
  .page-head {
    width:100%;
    margin-top:50px;
  }
  .page-head .flex {
    display:flex;
    flex-direction: column-reverse;
  }
  .header-btn{
    margin:auto;
    margin-bottom:50px;
  }
  .flex div {
    display:flex;
    flex-direction: column;
  }
  .page-head h1, .page-head p{
    text-align:center;
    margin:20px auto;
  }
  p, a, details, summary, li, ul {
    font-size:13.5pt;
  }
  #header-image {
    width:40vh;
    margin:0px auto;
    margin-top:0px;
  }
  #mobile-con {
    padding:0px 25px;
    margin-top:20px;
    margin-bottom:-150px;
  }

  hr {
    width:80%;
  }

  h2, h3 {
    font-size: 18pt;
  }

}

</style>
