---
layout: default
---

  {% include header.html %}
  <main>
    <div class='padding page-head'>

      <div id='head'>
        {% if page.image %}
            <div class='flex'>
              <div>
                <h1>{{page.title}}</h1>
                <p>{{page.description}}</p> <br>
                {% if page.link %}
                  <a class='header-btn'  href='{{page.link[1]}}'>{{page.link[0]}}</a>
                {% endif %}
              </div>
              <img id='header-image' src='{{page.image}}'>
            </div>
      {% else %}
            <div>
              <h1>{{page.title}}</h1>
              <p>{{page.description}}</p> <br>
              {% if page.link %}
                <a class='header-btn' href='{{page.link[1]}}'>{{page.link[0]}}</a>
              {% endif %}
            </div>
      {% endif %}
      </div>
      



      <hr>
      <br>
    </div>
    <div id='mobile-con'>
      {{content}}
    </div>

  </main>
  <script>
      
    if ($(window).width() < 600) {
          $(window).scroll(function() {     
          var scroll = $(window).scrollTop();
          if (scroll > 0) {
              $("#mainnav").addClass("active");
              
          }
          else {
              $("#mainnav").removeClass("active");
          }
        });
    } else {
      $("#mainnav").addClass("active");
      $( "#title" ).css("opacity",0);
      $( "#logo" ).css("opacity",1);
    }
</script>

<style>
    img {
      object-fit: cover;
    }
    .page-head {
      margin-top:150px;
    }
    #header-image{
      margin-top:-135px;
    }
    .header-btn{
      background-color:var(--main);
      color:white;
      font-size: 13pt;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top:40px;
      cursor:pointer;
    }
    .header-btn:hover{

    }

    #mobile-con {
      max-width:1000px;
      width:1000px;
      margin:auto;
    }
    #mobile-con h1, #mobile-con h2{
      margin: 1em 0px;
    }

@media only screen and (max-width: 600px) {
  main {
    width:100%;
  }
 
  .page-head {
    min-width:100%;
    width:100%;
    margin-top:50px;
  }
  .page-head .flex {
    display:flex;
    flex-direction: column-reverse;
  }
  .header-btn{
    margin:auto;
    margin-bottom:50px;
  }
  .flex div {
    display:flex;
    flex-direction: column;
  }
  #head h1, #head p{
    text-align:center;
    margin:20px auto;
  }
  #head p{
    width:80%;
  }
  p, a, details, summary, li, ul {
    font-size:13.5pt;
  }
  #header-image {
    width:40vh;
    margin:0px auto;
    margin-top:0px;
  }
  #mobile-con {
    width:85%;
    padding:0px 7.5%;
    margin-top:20px;
    margin-bottom:-150px;
  }

  hr {
    width:80%;
  }

  h2, h3 {
    font-size: 18pt;
  }

  .flex {
    flex-direction: column;
  }

}

</style>
